.o_company_logo_big {
        max-height: 240px;
        max-width: 310px;
        margin-top: -66px;
}
.o_snail_mail .address{
    padding-top: 0px !important;
    }


// .amount_total_space_box{
// //     border-left: none !important;
// //     border-bottom: none !important;
//     border: none !important;
// }

// .invoice_main{
//     .amount_total_space_box::before{
//         border: 1px solid transparent !important;
//     }
//     .no-border-table{
//         border: 1px solid transparent !important;
//     }
//     .no-border-table::before{
//         border: 1px solid transparent !important;
//     }
//     .amount_total_space_box{
//         border: 1px solid black;
//         border-top: none;
//         margin-top:-15px;
//     }
// }

